* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav ul {
    list-style: none;
}

ul li {
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #f00;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #f00;
}

a:active {
    color: #f00;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 75px;
    margin-left: 282px;
}


.container p {
    margin: 20px 0;
}

.container img {
    width: 100%;
    margin: 20px 0;
}

.container .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
}

.container .button:hover {
    background-color: #333;
}

.hidden {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #000021;
    background: #1de9b6;
    line-height: 1.15;
    font-size: 16px;
}

btn:hover {
    transition: all .1s ease;
    color: #fff;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}


.btn-primary {
    background-color: rgb(45, 144, 224);
}

.btn-primary:hover {
    background-color: #333;
}

.btn-secondary {
    background-color: #333;
}

.btn-secondary:hover {
    background-color: #f00;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.p-5 {
    padding: 25px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pt-4 {
    padding-top: 20px;
}

.pt-5 {
    padding-top: 25px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-4 {
    padding-bottom: 20px;
}

.pb-5 {
    padding-bottom: 25px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 15px;
}

.pl-4 {
    padding-left: 20px;
}

.pl-5 {
    padding-left: 25px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 15px;
}

.pr-4 {
    padding-right: 20px;
}

.pr-5 {
    padding-right: 25px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.m-5 {
    margin: 25px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 25px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 25px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.ml-5 {
    margin-left: 25px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mr-5 {
    margin-right: 25px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-light {
    color: #fff !important;
}


.list-display {
    padding-left: 35px;
    padding-top: 5px;
}

footer {
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

footer p {
    text-align: center;
}

footer a {
    color: #f00;
}

footer a:hover {
    color: #333;
}

/* Alart Boxes  */

.alart {
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}

.alart-success {
    background-color: #4CAF50;
}

.alart-info {
    background-color: #2196F3;
}

.alart-warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* Code boxes  */

.warning-box {
    background-color: #dbdb14;
    color: #fff;
    padding: 15px;
    margin: 20px 0;
    border-radius: 18px;
    border: dashed #000 2px;
}

.success-box {
    background-color: #13a05f;
    color: #fff;
    padding: 15px;
    margin: 20px 0;
    border-radius: 18px;
    border: dashed #000 2px;
}

.danger-box {
    background-color: #DB1C1C;
    color: #fff !important;
    padding: 15px;
    margin: 20px 0;
    border-radius: 18px;
    border: dashed #000 2px;
}

.feature-box {
    background-color: #378fe9;
    color: #fff;
    padding: 15px;
    margin: 20px 0;
    border-radius: 18px;
    border: dashed #000 2px;
}

.code-box {
    background-color: #EEFFCC;
    color: #fff;
    padding: 15px;
    margin: 20px 0;
    border-radius: 18px;
    border: dashed #000 2px;
}

/* 
* Code Highlighting Parts 
*/

.code-block {
    padding-left: 35px;
}

.code-comment {
    color: #717171;
}

.code-keyword {
    color: #0000FF;
}

.code-string {
    color: #008000;
}

.code-number {
    color: #FF0000;
}

.code-constant {
    color: #FF0000;
}

.code-function {
    color: #DF0D48;
}

.code-variable {
    color: #0000FF;
}

.code-class {
    color: #0000FF;
}

.code-attr {
    color: #0000FF;
}

.code-error {
    color: #FF0000;
}

.code-builtin-fuction {
    color: #b93a04;
}

.code-bullet {
    background-color: #88888b;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
}

.code-area {
    background-color: #414d61;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 20px;
    max-width: 87% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.code-area-copy-text {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 2%;
}

code {
    color: #fff;
}

.code-btn-copy {
    border-radius: 15px;
    font-size: 14px;
    line-height: 1;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 0;
    min-width: 60px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 600;
    text-align: center;
    padding: 16px 14px 18px;
    color: #616467;
    background-color: transparent;
    height: 48px;
    vertical-align: middle;
    cursor: pointer;
}

.code-btn-copy:hover {
    background-color: #287abd;
    color: #336394;
}

img {
    max-width: 90%;
}

.text-block {
    max-width: 94%;
}

aside {
    position: fixed;
    top: 60px;
    left: 0;
    width: 210px;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    overflow-y: auto;
}


aside li {
    list-style: none;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 1000px) {
    nav ul {
        padding: 0 20px;
        margin: 0 auto;
        font-size: 14px;

    }

    .container {
        padding: 0 20px;
    }

    .container p {
        font-size: 14px;
    }

    .container .button {
        padding: 10px 15px;
        font-size: 14px;
    }

    .success-box,
    .danger-box,
    .warning-box,
    .feature-box,
    .code-box,
    .alart,
    .code-area {
        margin-right: 45px;
    }

}

@media screen and (max-width: 480px) {
    .container {
        padding: 0 10px;
    }

}